<ul>
    <li>
        If you add a parameter to this Url, like (/wiki/[parameter]). It will display wikipedia article about that.
    </li>
    <li>
        If you use search box, then you will get list of search results based on the keywords.
    </li>
</ul>
